<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DESKTOP-32QVBUVSQL2017RapidCM_PGS_Dev" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-32QVBUV\SQL2017;integrated security=SSPI;initial catalog=RapidCM_PGS_Dev" />
        <add name="WpfApp2.Properties.Settings.RapidCM_PGS_DevConnectionString"
            connectionString="Data Source=DESKTOP-32QVBUV\SQL2017;Initial Catalog=RapidCM_PGS_Dev;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>