<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DESKTOP-32QVBUVSQL2017RapidCM_PGS_Dev" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-32QVBUV\SQL2017;integrated security=SSPI;initial catalog=RapidCM_Master_Dev2" />
        <add name="WpfApp2.Properties.Settings.RapidCM_PGS_DevConnectionString" connectionString="Data Source=DESKTOP-32QVBUV\SQL2017;Initial Catalog=RapidCM_Master_Dev2;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="localhost_RapidCM_FPT_CPT_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-32QVBUV\SQL2017;user id=201619;password=pPqtKc19;initial catalog=RapidCM_Master_Dev2;Persist Security Info=true" />
        <add name="localhost_RapidCM_FPT_CPTLive_Connection"  connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-32QVBUV\SQL2017;user id=201619;password=pPqtKc19;initial catalog=RapidCM_Master_Dev2;Persist Security Info=true" />
      <add name="localhost_RapidCM_Master_Dev2_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-32QVBUV\SQL2017;user id=201619;password=pPqtKc19;initial catalog=RapidCM_Master_Dev2;Persist Security Info=true" />
      <!--<add name="localhost_RapidCM_FPT_CPT_Connection"  connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-32QVBUV\SQL2017;user id=201619;password=pPqtKc19;initial catalog=RapidCM_PGS_Dev;Persist Security Info=true"/>-->
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>